html{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-height: 100wh;

}

.card{
    width: 100%;
    max-width: 600px;
}

.logo{
    height: 100%;
    max-height: 100px;
    width: 100%;
    max-width: 100px;
}